class Pookie < Formula
  desc "Local-first AI agent for skills, research, and outreach"
  homepage "https://github.com/MITPOAI/PookiePaws"
  version "{{ .Version }}"
  license "See LICENSE"

  on_macos do
    on_arm do
      url "https://github.com/MITPOAI/PookiePaws/releases/download/v{{ .Version }}/pookiepaws_{{ .Version }}_darwin_arm64.tar.gz"
      sha256 "{{ .DarwinArm64SHA256 }}"
    end
    on_intel do
      url "https://github.com/MITPOAI/PookiePaws/releases/download/v{{ .Version }}/pookiepaws_{{ .Version }}_darwin_amd64.tar.gz"
      sha256 "{{ .DarwinAmd64SHA256 }}"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/MITPOAI/PookiePaws/releases/download/v{{ .Version }}/pookiepaws_{{ .Version }}_linux_arm64.tar.gz"
      sha256 "{{ .LinuxArm64SHA256 }}"
    end
    on_intel do
      url "https://github.com/MITPOAI/PookiePaws/releases/download/v{{ .Version }}/pookiepaws_{{ .Version }}_linux_amd64.tar.gz"
      sha256 "{{ .LinuxAmd64SHA256 }}"
    end
  end

  def install
    bin.install "pookie"
  end

  test do
    assert_match "pookie v#{version}", shell_output("#{bin}/pookie version")
  end
end
